.comment-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 75%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    background-color:#f4cbd3;
    transition: all 0.3s ease;
}

.upvotesBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #D47271;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.comment-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}