#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('/images/background.jpg'); 
  background-size: fixed cover;
  background-position: center; 
  background-repeat: repeat; 
}

.whole-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: rgba(44, 108, 173, 0.8);
  margin-left: 250px; /* Leave space for the sidebar */
  padding: 20px; /* Add some padding */
  flex-grow: 1; /* Allow content to take the remaining space */

}

.recipe-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  padding-left: 20%;
  padding-right: 20%;
  margin: 1rem;
  border-radius: 8px;
  background-color: rgba(36, 52, 80, 0.8);
  color:white;
}

img {
  height: 200px;
  border-radius: 8px;
}

h2 {
  font-size: 2em;
  margin: 0.5em;
}

.ingredient-chart {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  margin: 1rem;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  position : fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.ingredient{
  list-style: none;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 250px; /* Leave space for the sidebar */
  padding: 20px; /* Add some padding */
  flex-grow: 1; /* Allow content to take the remaining space */
}
